*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family:"Open Sans", sans-serif; 
    font-weight: 400;
    background-color:#fff;
    height: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}