// Variables
@import "./variables";
@import "./typography";
@import "./base";
@import "./components";

// Pages
@import "./pages/index";
@import "./pages/offers";
@import "./pages/papadias";
@import "./pages/pizza";
@import "./pages/snackes";
@import "./pages/salads";
@import "./pages/pasta";
@import "./pages/drinks";
@import "./pages/dessert";
@import "./pages/sauces";
@import "./pages/account";
@import "./pages/checkout";

