*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  height: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff; }

header {
  overflow-x: hidden; }
  header .header-top {
    padding: 8px 40px 16px;
    align-items: center; }
    @media only screen and (max-width: 576px) {
      header .header-top {
        padding: 8px 20px 16px; } }
    header .header-top .logo {
      width: 50%; }
      @media only screen and (max-width: 768px) {
        header .header-top .logo {
          width: 75%; } }
      @media only screen and (max-width: 576px) {
        header .header-top .logo {
          width: 100%; } }
    header .header-top .header-right {
      display: flex;
      justify-content: end; }
      header .header-top .header-right a {
        color: #000000;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700; }
      header .header-top .header-right .sign {
        color: #000000;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700; }
        header .header-top .header-right .sign .mobile-menu-tab-items {
          margin-top: 30px; }
          header .header-top .header-right .sign .mobile-menu-tab-items .mobile-menu-tab-body {
            background-color: #960000; }
            header .header-top .header-right .sign .mobile-menu-tab-items .mobile-menu-tab-body .option {
              background-color: #960000;
              transition: 0.3s; }
              header .header-top .header-right .sign .mobile-menu-tab-items .mobile-menu-tab-body .option:hover {
                background-color: #960000;
                opacity: 0.5; }
            header .header-top .header-right .sign .mobile-menu-tab-items .mobile-menu-tab-body a {
              color: #fff; }
      header .header-top .header-right .select-menu .select-btn {
        cursor: pointer; }
      header .header-top .header-right .select-menu .options {
        position: absolute;
        min-width: 200px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both; }
      header .header-top .header-right .select-menu .options .option {
        display: flex;
        height: 55px;
        cursor: pointer;
        padding: 0 16px;
        border-radius: 8px;
        align-items: center;
        background: #fff; }
      header .header-top .header-right .select-menu .options .option:hover {
        background: #f2f2f2; }
      header .header-top .header-right .select-menu .options .option i {
        margin-right: 12px; }
      header .header-top .header-right .select-menu .options .option .option-text {
        font-size: 20px; }
      header .header-top .header-right .select-btn i {
        transition: 0.3s; }
      header .header-top .header-right .select-menu.active .select-btn .fa-caret-down {
        transform: rotate(-180deg); }
      header .header-top .header-right .select-menu.active .options {
        display: block;
        z-index: 10;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.4s;
        -webkit-animation-fill-mode: both; }

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0; } }
      header .header-top .header-right .mobile-menu .hamburger-menu {
        font-size: 40px;
        color: #0f9675;
        cursor: pointer; }
      header .header-top .header-right .mobile-menu .offcanvas {
        overflow-y: scroll;
        height: 100vh; }
        header .header-top .header-right .mobile-menu .offcanvas .offcanvas-header {
          justify-content: end;
          background-color: #960000; }
          header .header-top .header-right .mobile-menu .offcanvas .offcanvas-header .btn-close {
            filter: invert(1);
            opacity: 1; }
            header .header-top .header-right .mobile-menu .offcanvas .offcanvas-header .btn-close:focus {
              box-shadow: none; }
      header .header-top .header-right .basket {
        margin-right: 30px;
        text-align: center; }
        header .header-top .header-right .basket i {
          position: relative;
          font-size: 23px; }
          header .header-top .header-right .basket i .basket-count {
            position: absolute;
            top: -10px;
            right: -18px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            background: #ad0f14;
            color: #ffffff;
            font-family: "Helvetica Neue DeskInterface", sans-serif;
            font-size: 12px;
            line-height: 21px;
            text-align: center;
            z-index: 2;
            font-weight: 400; }
        header .header-top .header-right .basket .basket-price {
          font-size: 16px; }
  header .header-bottom {
    background: #ad0f14;
    padding: 26px 0;
    margin-bottom: 25px; }
    header .header-bottom ul {
      display: flex;
      justify-content: space-evenly; }
      header .header-bottom ul li a {
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
        color: #ffffff;
        transition: all, 0.3s; }
        header .header-bottom ul li a:hover {
          opacity: 0.5; }
        @media only screen and (max-width: 992px) {
          header .header-bottom ul li a {
            font-size: 20px; } }

.top-bar {
  background-color: #ad0f14;
  padding: 20px 0;
  margin-bottom: 20px; }

.slider {
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 25px;
  overflow-x: hidden; }
  @media only screen and (max-width: 576px) {
    .slider {
      max-width: 100%;
      margin-bottom: 16px; } }
  .slider .carousel-indicators button {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: #f1f1f1;
    border: 1px solid #0f9675;
    border-radius: 50%;
    opacity: 1; }
    .slider .carousel-indicators button.active {
      background-color: #0f9675; }

footer {
  background: #ad0f14;
  padding: 30px 30px 20px; }
  @media only screen and (max-width: 992px) {
    footer {
      padding: 20px 10px 0px; } }
  @media only screen and (max-width: 576px) {
    footer {
      padding: 5px 10px 0px; } }
  footer .footer-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0; }
    @media only screen and (max-width: 992px) {
      footer .footer-list {
        justify-content: space-around;
        margin-bottom: 40px; } }
    @media only screen and (max-width: 576px) {
      footer .footer-list {
        display: block;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 576px) {
      footer .footer-list li {
        display: inline-block;
        width: 32%;
        margin-bottom: 10px; }
        footer .footer-list li:last-child {
          width: 60%; } }
    footer .footer-list li a {
      font-size: 16px;
      font-family: "Open Sans", Arial, sans-serif;
      line-height: 20px;
      font-weight: 700;
      color: #ffffff;
      transition: all, 0.3s; }
      @media only screen and (max-width: 992px) {
        footer .footer-list li a {
          font-size: 20px; } }
      @media only screen and (max-width: 576px) {
        footer .footer-list li a {
          font-size: 14px; } }
      footer .footer-list li a:hover {
        color: #fff;
        opacity: 0.5; }
  footer .footer-img {
    position: relative; }
    footer .footer-img img {
      position: absolute;
      top: -16px;
      width: 100%; }
      @media only screen and (max-width: 992px) {
        footer .footer-img img {
          position: relative;
          padding-left: 35px; } }
      @media only screen and (max-width: 768px) {
        footer .footer-img img {
          position: relative;
          padding-left: 16px; } }
      @media only screen and (max-width: 576px) {
        footer .footer-img img {
          padding-left: 5px;
          top: 0; } }
  footer .social {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 992px) {
      footer .social {
        justify-content: space-evenly; } }
    footer .social li {
      display: inline-block;
      margin-right: 10px; }
      footer .social li a {
        font-size: 22px;
        transition: all, 0.3s; }
        footer .social li a:hover {
          color: #fff;
          opacity: 0.5; }

.modal.account-modal {
  text-align: center;
  color: #000 !important; }
  .modal.account-modal .modal-content {
    border-radius: 25px !important; }
    .modal.account-modal .modal-content .modal-header {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
      border-bottom: 0; }
      .modal.account-modal .modal-content .modal-header h5 {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.2;
        text-transform: capitalize;
        margin-left: 180px; }
        @media only screen and (max-width: 576px) {
          .modal.account-modal .modal-content .modal-header h5 {
            margin-left: 100px; } }
        .modal.account-modal .modal-content .modal-header h5.create-account {
          margin-left: 115px; }
          @media only screen and (max-width: 576px) {
            .modal.account-modal .modal-content .modal-header h5.create-account {
              margin-left: 50px; } }
      .modal.account-modal .modal-content .modal-header .forgot-title {
        margin-left: 130px; }
    .modal.account-modal .modal-content .modal-body {
      padding: 20px 20%; }
      .modal.account-modal .modal-content .modal-body form .form-imput-item {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        border-bottom: 1px solid #000 !important; }
        .modal.account-modal .modal-content .modal-body form .form-imput-item input {
          border: none;
          outline: none; }
      .modal.account-modal .modal-content .modal-body form .form-remember-me {
        text-align: left;
        margin-bottom: 20px; }
        .modal.account-modal .modal-content .modal-body form .form-remember-me label {
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: 15px; }
          .modal.account-modal .modal-content .modal-body form .form-remember-me label input {
            min-width: 16px;
            height: 16px;
            margin: -3px 10px 0 0 !important;
            cursor: pointer; }
      .modal.account-modal .modal-content .modal-body form button {
        font-weight: 600;
        border-radius: 30px;
        background-color: #0f9675;
        width: 100%;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        padding: 16px;
        border: 0;
        letter-spacing: 0.1em;
        transition: 0.3s all; }
        .modal.account-modal .modal-content .modal-body form button:hover {
          background-color: #000; }
      .modal.account-modal .modal-content .modal-body form .forgot-password {
        display: block;
        margin-top: 8px;
        font-size: 13px;
        color: #000;
        cursor: pointer; }
    .modal.account-modal .modal-content .modal-footer {
      border: none;
      display: flex;
      justify-content: center;
      padding: 20px 10px; }
      .modal.account-modal .modal-content .modal-footer p {
        margin-right: 20px;
        font-size: 14px;
        line-height: 18px; }
      .modal.account-modal .modal-content .modal-footer a {
        border-radius: 30px;
        font-weight: 600;
        color: #ffffff;
        background-color: #ad0f14;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        border: 0;
        padding: 12px 30px;
        text-align: center;
        transition: 0.3s all;
        cursor: pointer; }
        .modal.account-modal .modal-content .modal-footer a:hover {
          background-color: #000; }

.modal.basket-modal .modal-dialog {
  max-width: 650px; }
  @media only screen and (max-width: 768px) {
    .modal.basket-modal .modal-dialog .container {
      min-width: 100%; } }
  .modal.basket-modal .modal-dialog .modal-header {
    border-bottom: 0; }
    .modal.basket-modal .modal-dialog .modal-header .modal-title {
      font-size: 30px;
      font-weight: 700; }
  .modal.basket-modal .modal-dialog .modal-body .modal-basket-count {
    margin-bottom: 35px;
    margin-top: -12px;
    font-weight: 500; }
  .modal.basket-modal .modal-dialog .modal-body .basket-items {
    margin-bottom: 30px; }
    .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-left .basket-img {
      width: 76px;
      height: 76px;
      display: inline-block;
      vertical-align: top;
      margin-right: 15px; }
      .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-left .basket-img img {
        width: 100%; }
    .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-left .basket-prd-name {
      display: inline-block; }
      .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-left .basket-prd-name p {
        font-size: 18px;
        font-weight: 700; }
        @media only screen and (max-width: 768px) {
          .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-left .basket-prd-name p {
            font-size: 16px; } }
      .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-left .basket-prd-name span {
        font-family: Arial, sans-serif;
        font-size: 13px; }
    .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right {
      display: flex;
      justify-content: space-between; }
      .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .basket-prd-count {
        display: inline-block;
        font-size: 0; }
        .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .basket-prd-count .count-box {
          display: inline-block;
          line-height: 29px;
          height: 29px;
          text-align: center;
          vertical-align: top; }
          .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .basket-prd-count .count-box.minus {
            background-color: grey;
            border-radius: 3px 0 0 3px;
            font-size: 20px;
            color: #ffffff;
            cursor: pointer;
            width: 29px; }
          .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .basket-prd-count .count-box.count-value {
            background: #f1f1f1;
            width: 37px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #282828; }
          .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .basket-prd-count .count-box.plus {
            border-radius: 0 3px 3px 0;
            background: #0f9675;
            width: 29px;
            font-size: 20px;
            color: #ffffff;
            cursor: pointer; }
      .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .prd-total-amount {
        display: inline-block; }
        .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .prd-total-amount span {
          font-weight: 700;
          font-size: 22px;
          color: #171717;
          line-height: 24px; }
        .modal.basket-modal .modal-dialog .modal-body .basket-items .basket-right .prd-total-amount i {
          font-size: 20px;
          color: #7b7b7b;
          cursor: pointer; }
  .modal.basket-modal .modal-dialog .modal-footer {
    border: none; }
    .modal.basket-modal .modal-dialog .modal-footer .go-checkout.noactive {
      display: none; }
    .modal.basket-modal .modal-dialog .modal-footer .go-shop {
      display: none; }
      .modal.basket-modal .modal-dialog .modal-footer .go-shop.active {
        display: inline-block; }
    .modal.basket-modal .modal-dialog .modal-footer a {
      width: 268px;
      padding: 0px;
      background: #AD0F14;
      display: inline-block;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      transition: all, .3s;
      line-height: 39px;
      border-radius: 4px;
      color: #fff; }
      .modal.basket-modal .modal-dialog .modal-footer a:hover {
        background-color: #000; }
    .modal.basket-modal .modal-dialog .modal-footer .total-amount {
      text-align: right; }
      @media only screen and (max-width: 768px) {
        .modal.basket-modal .modal-dialog .modal-footer .total-amount {
          text-align: left; } }
      @media only screen and (max-width: 576px) {
        .modal.basket-modal .modal-dialog .modal-footer .total-amount {
          position: absolute;
          top: -40px; } }
      .modal.basket-modal .modal-dialog .modal-footer .total-amount p, .modal.basket-modal .modal-dialog .modal-footer .total-amount span {
        font-weight: 700;
        font-size: 22px;
        color: #171717;
        line-height: 25px;
        display: inline-block;
        vertical-align: top; }

.offers-section h1 {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 42px;
  color: #000000;
  line-height: 45px;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .offers-section h1 {
      font-size: 30px;
      padding-bottom: 20px; } }

.offers-section .offers-box {
  margin-bottom: 60px; }
  .offers-section .offers-box .offers-img img {
    width: 100%;
    margin-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .offers-section .offers-box .offers-img img {
        margin-bottom: 30px; } }
  .offers-section .offers-box .offers-button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    transition: all, 0.3s;
    line-height: 39px;
    border-radius: 4px;
    padding: 0 21px;
    background: #0f9675;
    color: #fff; }
    .offers-section .offers-box .offers-button:hover {
      background-color: #ad0f14; }
    @media only screen and (max-width: 768px) {
      .offers-section .offers-box .offers-button {
        font-size: 14px;
        line-height: 30px; } }

.papadias-section {
  margin-bottom: 40px; }
  .papadias-section h1 {
    font-weight: 700;
    font-size: 42px;
    color: #000000;
    line-height: 45px;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .papadias-section h1 {
        font-size: 30px;
        padding-bottom: 20px; } }
  .papadias-section .papadias-img {
    margin-bottom: 10px;
    cursor: pointer; }
    .papadias-section .papadias-img img {
      width: 100%;
      min-height: 220px; }
  .papadias-section .papadias-title {
    display: flex;
    justify-content: space-between;
    height: 90px; }
    .papadias-section .papadias-title a {
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      font-size: 18px;
      transition: all, 0.3s;
      line-height: 39px;
      border-radius: 4px;
      padding: 0 16px;
      background: #0f9675;
      height: 39px; }
      .papadias-section .papadias-title a:hover {
        background-color: #ad0f14; }
    .papadias-section .papadias-title p {
      font-weight: bold;
      font-size: 20px;
      color: #171717;
      line-height: 25px; }
  .papadias-section .papadias-text span {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #282828;
    line-height: 20px; }

.modal.papadias-modal .modal-dialog .modal-content {
  height: 530px;
  width: 450px;
  margin: 0 auto; }

.modal.papadias-modal .modal-dialog .modal-header {
  border-bottom: none; }

.modal.papadias-modal .modal-dialog .modal-body .modal-img {
  margin-top: -30px; }
  .modal.papadias-modal .modal-dialog .modal-body .modal-img img {
    width: 100%; }

.modal.papadias-modal .modal-dialog .modal-body .modal-title {
  font-weight: 700;
  line-height: 44px;
  font-size: 26px;
  color: #000000; }

.modal.papadias-modal .modal-dialog .modal-body .modal-details {
  display: flex;
  justify-content: space-between; }
  .modal.papadias-modal .modal-dialog .modal-body .modal-details .modal-prd-count {
    display: inline-block;
    font-size: 0; }
    .modal.papadias-modal .modal-dialog .modal-body .modal-details .modal-prd-count .modal-count-box {
      display: inline-block;
      line-height: 29px;
      height: 29px;
      text-align: center;
      vertical-align: top; }
      .modal.papadias-modal .modal-dialog .modal-body .modal-details .modal-prd-count .modal-count-box.papadias-minus {
        background-color: grey;
        border-radius: 3px 0 0 3px;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
        width: 29px; }
      .modal.papadias-modal .modal-dialog .modal-body .modal-details .modal-prd-count .modal-count-box.modal-count-value {
        background: #f1f1f1;
        width: 37px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #282828; }
      .modal.papadias-modal .modal-dialog .modal-body .modal-details .modal-prd-count .modal-count-box.papadias-plus {
        border-radius: 0 3px 3px 0;
        background: #0f9675;
        width: 29px;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer; }
  .modal.papadias-modal .modal-dialog .modal-body .modal-details .modal-prd-price {
    font-weight: 700;
    line-height: 1;
    font-size: 32px;
    color: #000000; }

.modal.papadias-modal .modal-dialog .modal-footer {
  border: none;
  justify-content: space-between; }
  .modal.papadias-modal .modal-dialog .modal-footer .modal-basket {
    margin-right: 30px;
    text-align: center; }
    .modal.papadias-modal .modal-dialog .modal-footer .modal-basket a {
      color: #000000; }
    .modal.papadias-modal .modal-dialog .modal-footer .modal-basket i {
      position: relative;
      font-size: 23px; }
      .modal.papadias-modal .modal-dialog .modal-footer .modal-basket i .basket-count {
        position: absolute;
        top: -10px;
        right: -18px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        background: #ad0f14;
        color: #ffffff;
        font-family: "Helvetica Neue DeskInterface", sans-serif;
        font-size: 12px;
        line-height: 21px;
        text-align: center;
        z-index: 2;
        font-weight: 400; }
    .modal.papadias-modal .modal-dialog .modal-footer .modal-basket .basket-price {
      font-size: 16px; }
  .modal.papadias-modal .modal-dialog .modal-footer .modal-button {
    padding: 0 18px;
    background: #0f9675;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    transition: all, 0.3s;
    line-height: 36px;
    border-radius: 4px; }
    .modal.papadias-modal .modal-dialog .modal-footer .modal-button:hover {
      background-color: #ad0f14; }
